:root {
    --pink: #f171af;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;

}

section {
    padding: 2rem 9%;
}

.heading {

    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(237, 145, 218, 0.1);
}

.heading span {
    color: var(--pink);
}


.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {

    background: var(--pink);
}

/* header section starts */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}

header .logo {
    font-size: 4rem;
    color: var(--pink);
    font-weight: 1000;
    background-image: url(https://i.pinimg.com/originals/3b/e8/ba/3be8ba724e3bc3c01ab91b478eae2749.gif);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
}

header .logo span {
    background-image: url(https://i.pinimg.com/originals/3b/e8/ba/3be8ba724e3bc3c01ab91b478eae2749.gif);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5em;
    color: #666;
}

header .navbar a:hover {
    color: var(--pink);
}

header .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--pink);
}

header .icons a:hover {
    color: #333;
}

header .icons .reline {
    position: relative;
}

header .icons .reline .bage {
    position: absolute;
    top: -15px;
    font-size: 12px;
    background: #c72692;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    line-height: 20px;
    border-radius: 500px;
    right: -9px;
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

header .fa-bars:hover {
    color: var(--pink);
    border: .1rem solid var(--pink);
}

/* header section end */

/* home section starts  */
.home {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    min-height: 30vh;
    background: url(https://images.squarespace-cdn.com/content/v1/5b6cd5a7b40b9df2167dca18/1549557718677-K8UCG9WPPVH3UA4N8KO8/KendraScottBridalJewelry-1) no-repeat;
    background-size: cover;
    background-position: center;

}

.home .content {
    width: 100%;
    text-align: center;
}

.home .content h3 {
    font-size: 4rem;
    color: #333;
    text-shadow: 4px 2px 6px #893b6392;

}

.home .content span {
    background-color: #ffffff44;
    font-size: 5rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
    text-shadow: 4px 2px 6px #e7e5e4b8;
    width: 100%;

}


/* home section end */


.detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem 15rem;
}


.detail .img {
    width: 40%;
    box-shadow: 0 0 3rem rgba(0, 0, 0, .2);
    padding: 1rem;
    border-radius: 1rem;
}

.detail img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
}

.detail .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    padding: 4rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
    gap: 1.5rem;

}

.detail .content h1 {
    font-size: 2rem;
    color: #333;
}

.detail .content .product-price {
    font-size: 2rem;
    width: 100%;
    padding: 2rem 2rem 2rem 2rem;
    border-bottom: 1px solid #666;
    font-weight: bold;
}

.detail .content .product-price .current-price-value {
    font-size: 2rem;
    color: var(--pink);
}

.detail .content .product-price .regular-price {
    font-size: 1.5rem;
    color: #999;
    text-decoration: line-through;
    font-style: italic;
}

.detail .content .product-short-description {
    padding: 4rem 2rem;
    font-size: 1.5rem;
    color: #666;

}

.discrai {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    align-items: center;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;

}

.discrai p {

    font-size: 1rem;
    font-weight: bold;
    color: #999;
}

.discrai span {
    margin-top: 2rem;
    font-size: 1rem;
    color: #000;
}

.detail .content form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.detail .content form .quantity {

    margin-bottom: 2rem;
    background: var(--pink);
    width: fit-content;
    border-radius: .5rem;
    box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.148);
    padding: .5rem;
}

.detail .content form .quantity .minus {

    font-size: 1.5rem;
    color: #333;
    padding: .5rem;
    border-radius: .5rem;
}

.detail .content form .quantity .input-box {
    font-size: 1.5rem;
    background: var(--pink);
    padding: .5rem;
    color: #fff;
    border-radius: .5rem;
}

.detail .content form .quantity .plus {
    font-size: 1.5rem;
    color: #333;
    padding: .5rem;
    border-radius: .5rem;
}

.detail .content form .btn {
    border-radius: .5rem;
    margin-top: -2.2rem;
    box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.148);
}






.document {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 40rem;
    border-top: 1px solid #666;
    font-size: 1.2rem;
}

.document h2 {
    font-size: 1.5rem;

}

.document span {
    font-weight: bold;
}




















.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, .1);

}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: flex;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: var(--pink);
    text-decoration: underline;
}

.footer .box-container .box img {
    margin-top: 1rem;
    height: 4rem;
}

.footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
    color: var(--pink);
}








/* media queries */

@media(max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }
}

@media(max-width: 768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: 1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 2.5rem;
    }

    .icons-container .icons h3 {
        font-size: 2rem;
    }

    .icons-container .icons span {
        font-size: 1.7rem;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }
}