:root {
    --pink: #f171af;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;

}

section {
    padding: 2rem 9%;
}

.heading {

    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(237, 145, 218, 0.1);
}

.heading span {
    color: var(--pink);
}


.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {

    background: var(--pink);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}

header .logo {
    font-size: 4rem;
    color: var(--pink);
    font-weight: 1000;
    background-image: url(https://i.pinimg.com/originals/3b/e8/ba/3be8ba724e3bc3c01ab91b478eae2749.gif);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
}

header .logo span {

    background-image: url(https://i.pinimg.com/originals/3b/e8/ba/3be8ba724e3bc3c01ab91b478eae2749.gif);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5em;
    color: #666;
}

header .navbar a:hover {
    color: var(--pink);
}

header .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--pink);
}

header .icons a:hover {
    color: #333;
}

header .icons .reline {
    position: relative;
}

header .icons .reline .bage {
    position: absolute;
    top: -15px;
    font-size: 12px;
    background: #c72692;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    line-height: 20px;
    border-radius: 500px;
    right: -9px;
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

header .fa-bars:hover {
    color: var(--pink);
    border: .1rem solid var(--pink);
}

/* bắt đầu vào section main*/

.shoppingcart-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    padding: 8rem 10rem;
}

/* div thông tin thanh toán */
.shoppingcart-container .payment {
    display: flex;
    align-items: center;
    width: 40%;
    height: 65rem;
    padding: 2rem 3rem;
    box-shadow: 0 0 3rem rgba(75, 75, 77, 0.5);

}

.shoppingcart-container .payment .payment-container {
    width: 100%;

}


.shoppingcart-container .payment h3 {
    font-size: 2rem;
    align-items: start;
    color: var(--pink);
}

.shoppingcart-container .payment form .form-group {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 2rem;
}

.shoppingcart-container .payment form .form-group label {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #333;
}

.shoppingcart-container .payment form .form-group input {
    width: 100%;
    height: 4rem;
    padding: .5rem;
    margin-top: .5rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: .1rem solid var(--pink);

}

.shoppingcart-container .payment form .form-group .form-control {
    width: 100%;
    height: 8rem;
    border-radius: .5rem;
    border: .1rem solid var(--pink);

}

.shoppingcart-container .payment form .form-group2 {
    margin-top: 1rem;
}

.shoppingcart-container .payment form .form-group2 h3 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.shoppingcart-container .payment form .form-group2 label {
    font-size: 1.5rem;
}

.shoppingcart-container .payment form .form-group3 {
    margin-top: 1rem;
}

.shoppingcart-container .payment form .form-group3 button {
    font-size: 1.5rem;
}



/* thông tin giỏ hàng */

.shoppingcart-container .cart {
    width: 58%;
    height: 65rem;
    padding: 2rem 3rem;
    box-shadow: 0 0 3rem rgba(75, 75, 77, 0.5);
    margin-left: 2rem;
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
}



.shoppingcart-container .cart .main {
    background: #fff;
    width: 100%;
    display: flex;
}

.shoppingcart-container .cart .main .scroll {
    overflow-y: scroll;
    height: 60rem;
    border: .1rem solid var(--pink);
    border-radius: 1rem;
    padding: 2rem 2rem;

}

.shoppingcart-container .cart .main .scroll .product {
    display: flex;
    width: 100%;
    height: 8rem;
    padding: 2rem 2rem;
    background: #fffcfe;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: .4rem 1rem 2rem rgba(100, 99, 99, 0.2);

}

.shoppingcart-container .cart .main .scroll .product:hover {
    box-shadow: .5rem .5rem .5rem rgba(134, 134, 134, 0.474);
}

.shoppingcart-container .cart .main .scroll .product .img {
    width: 13%;
    height: 7rem;
    border-radius: 1rem;
}

.shoppingcart-container .cart .main .scroll .product .img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1rem;
}

.shoppingcart-container .cart .main .scroll .product .content {
    width: 57%;
    margin-left: 3%;

}

.shoppingcart-container .cart .main .scroll .product .text {
    font-size: .9rem;
    margin-bottom: 1rem;
    color: #333;
}

.shoppingcart-container .cart .main .scroll .product .price {
    font-size: 1.5rem;
    color: var(--pink);
    font-weight: bold;
}




.shoppingcart-container .cart .main .scroll .product .number-control {
    width: 20%;
}

.shoppingcart-container .cart .main .scroll .product .number-control input {
    width: 5rem;
    height: 2.5rem;
    text-align: center;
    border: .1rem solid #f4eff323;
    font-size: 1.5rem;
    margin-left: 5rem;
    background: #ffffff;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .5rem rgba(134, 134, 134, 0.474);
}

.shoppingcart-container .cart .main .scroll .product .trash a {
    width: 10%;
    font-size: 2rem;
    color: var(--pink);
    margin-left: 2rem;
}

.shoppingcart-container .cart .main .scroll .product .trash a:hover {
    color: #333;
}

.total {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.shoppingcart-container .cart .btn {
    background: var(--pink);
}

.shoppingcart-container .cart .btn:hover {
    background-color: #333;
}







/* Chỉnh thanh scroll */

::-webkit-scrollbar {
    width: .4rem;
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
}


/*footer*/

.footer .box-container {
    border-top: .1rem solid #999;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: flex;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: var(--pink);
    text-decoration: underline;
}

.footer .box-container .box img {
    margin-top: 1rem;
    height: 4rem;
}

.footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
    color: var(--pink);
}

/*footer end*/



/* media queries */

@media(max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }

    .product .text {
        font-size: 1.1rem;
    }

    .product .price {
        font-size: 1rem;
    }

    .product .number-control {
        margin-left: 20%;
    }

    .product .number-control input {
        font-size: 1.5rem;
        margin-left: 5rem;
    }

}

@media(max-width: 768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #000000;
        border-top: 1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #000000;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 2.5rem;
    }

    .icons-container .icons h3 {
        font-size: 2rem;
    }

    .icons-container .icons span {
        font-size: 1.7rem;
    }

    .shoppingcart-container {
        display: flex;
        flex-direction: column;
    }

    .shoppingcart-container .pay {
        width: 100%;
    }

    .shoppingcart-container .shoppingcart {
        width: 100%;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }

    .product .text {
        font-size: .9rem;
    }

    .product .price {
        font-size: 1rem;
    }

    .product .number-control input {
        font-size: 1.5rem;
        margin-left: 1rem;
        width: 3.5rem;
        height: 2.5rem;
    }

}